@import "tailwindcss";

@theme {
  --color-primary: #1f2937; /* Dark Grey */
  --color-secondary: #f97316; /* Orange */
  --color-accent: #fde047; /* Lemon */
  --color-cream: #fafaf9; /* Cream Background */

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #374151;
    background-color: var(--color-cream);
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  img, video, canvas, svg {
    max-width: 100%;
  }
  img[loading] {
    aspect-ratio: 16 / 9;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
